h1,h2{
    color: red;
}

section>h1{
    color: green;
}

/*Class*/
.styleBlue{
    color:blue;
    font-size: 4em;
}

.styleGreen{
    color:green;
    font-size: 5em;
}

/*ID*/
#opmaak{
    color: yellow;
}
